.navbar{
      margin-bottom: 0;
      background-color: #333;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
	  opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #000 !important;
      background-color: red !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
	  }
.open .dropdown-toggle {
    color: #333 ;
    background-color: red !important;
}
.dropdown-menu li a {
    background-color: #333 !important;
	padding-top: 10px;
}


.dropdown-menu li a:hover {
    background-color: red !important;
}

.container{
padding-bottom: 10px;
padding-top:10px;
}
.container-fluid{
padding-bottom: 10px;
padding-top:10px;
}
footer {
    background-color: #333;
	color: #ffffff;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}