<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/icon.ico" />
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <title>Praveen Acharya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="wrapper">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/"><img src="logo.png" alt="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">ABOUT</a></li>
		<li><a href="/cv">CV</a></li>
        <li><a href="/research">RESEARCH</a></li>
		<li><a href="/publication">PUBLICATION</a></li>
        <li><a href="/news">NEWS</a></li>
        
        <li><a href="/blog">BLOG</a></li>        
		<li><a href="/contact">CONTACT</a></li>
		
		</ul>
		
    </div>
  </div>
</nav>

<div class="container">
<br><br><br><br>
{{ content }}
</div>

<div class = "push"></div>
</div>
<footer class="container-fluid text-center">
  <a class="up-arrow" href="#">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <ul class="list-inline">
  <li><a href="/sitemap" >Site Map</a></li>
  <li><a href="/disclaimer" >Disclaimer</a></li>
  </ul>
<p> Copyright &copy; Praveen Acharya</p>
  <p> All Rights Reserved.</p>
</footer>


</body>
</html>