<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/icon.ico" />
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  <title>Praveen Acharya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div id ="wrapper">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
	    <li><a href="/about">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
		<li><a href="/cv">RESUME</a></li>
        <!-- <li><a href="/research">RESEARCH</a></li> -->
        <li><a href="/news">NEWS</a></li>
        
        <li><a href="#">BLOG</a></li>
		<!-- <li><a href="/publication">PUBLICATION</a></li> -->
          
		<li><a href="/contact">CONTACT</a></li>
		
		</ul>
		
    </div>
  </div>
</nav>

<div class="container">
<div class="content_wrapper">


{{ content }}
</div>
</div>
<div id = "push"></div>
</div>
<footer class="container-fluid">

                    <div class="row">
						<div class="text-center">
                            <p><a href="#">Sitemap</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Disclaimer</a></p>
                        </div>
						<div class="text-center">
<p>&copy; Praveen Acharya. All Rights Reserved. </p>
    
</div>
</div>
                      

                  
</footer>


<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var myCenter = new google.maps.LatLng(27.6181886,85.5370299);

function initialize() {
var mapProp = {
center:myCenter,
zoom:12,
scrollwheel:true,
draggable:true,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
position:myCenter,
});

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>